$primary-color: #161a30;
$secondary-color: #31304d;
$neutral-gray: #b6bbc4;
$background-light: #f0ece5;

$font-text: 'Inter Variable', system-ui, sans-serif;
$font-tittle: 'Montserrat Variable', system-ui, sans-serif;
